/*body{
  background-color: lightblue;
}*/

img{
  height: 30%;
  width: 30%;
}

.person-container{
  background-color: lightblue;
}

.person-container:nth-child(even){
  background-color: lightyellow;
}

.border{
  border-style: dotted;
  border-color: black 1px;
}



